<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/welcome">Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="isAuthenticated">
          <a class="nav-link" aria-current="page" routerLink="/welcome">Welcome <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="!isAuthenticated">
          <a class="nav-link" aria-current="page" routerLink="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="isAuthenticated">
          <a role="button" class="nav-link" aria-current="page" (click)="logout()">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>